    <!-- footer section start -->
<!--<div class="footer_section layout_padding">
    <div class="footer_section_2">
        <div class="container">
            <div class="row map_addres">
                <div class="col-sm-12 col-lg-4">
                    <div class="map_text"><img src="~/Content/img/map-icon.png"><span class="map_icon">No.123 Chalingt Gates, Supper market New York</span></div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="map_text"><img src="~/Content/img/phone-icon.png"><span class="map_icon">( +71 7986543234 )</span></div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="map_text"><img src="~/Content/img/email-icon.png"><span class="map_icon">demo@gmail.com</span></div>
                </div>
            </div>
            <div class="social_icon">
                <ul>
                    <li><a href="#"><img src="~/Content/img/fb-icon.png"></a></li>
                    <li><a href="#"><img src="~/Content/img/twitter-icon.png"></a></li>
                    <li><a href="#"><img src="~/Content/img/in-icon.png"></a></li>
                    <li><a href="#"><img src="~/Content/img/instagram-icon.png"></a></li>
                </ul>
            </div>
            <p class="copyright_text">Copyright 2019 All Right Reserved By.<a href="https://html.design"> Free  html Templates </a></p>
        </div>
    </div>
</div>-->
<!-- footer section end -->

<div class="footer_section layout_padding" >
    <div class="footer_section_2">
        <div class="container">
            <div class=" map_addres">
                <div class="col-sm-12 col-lg-4">
                    <div class="map_text"><i style="margin-top:16px;" class="fas fa-map-marker-alt"></i><span class="map_icon">Konyaaltı uncalı mahallesi ANTALYA/Konyaaltı</span></div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="map_text"><i style="margin-top:16px;" class="fas fa-phone-alt"></i><span class="map_icon">0552 343 95 84</span></div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="map_text"><i style="margin-top:16px;" class="fas fa-envelope"></i><span class="map_icon">simalyyildiz@gmail.com</span></div>
                </div>
            </div>
            <div class="social_icon">
                <ul>
                    <li><a href="https://www.facebook.com/?locale=tr_TR" target="_blank"><i style="color:white" class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com" target="_blank"><i style="color:white" class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i style="color:white" class="fab fa-instagram"></i></a></li>
                </ul>

            </div>
        </div>
    </div>
</div>

