
@model IEnumerable<fitness.Models.Abouts>


<div class="about_section_2 layout_padding">
    <div class="container">
        <h1 class="about_text_2">
            @foreach (var abouts in Model)
            {
                @abouts.Title
            }
        </h1>

    </div>
</div>

<div class="about_section about_main">
    <div class="row">
        <div class="col-md-6">
            <div class="about_taital">

                <h1 class="about_text" style="color: deepskyblue">
                    @foreach (var abouts in Model)
                    {
                        @abouts.PopularTitle
                    }
                </h1>
                <p style="color: powderblue; font-weight: 500; font-size: larger; margin-left: 2px;">
                    @foreach (var abouts in Model)
                    {
                        @abouts.Description
                    }
                </p>

            </div>
        </div>
        <div class="col-md-6">

            <div class="about_img"><img src="~/Content/img/about-bg.png"></div>


        </div>
    </div>
</div>



