@model IEnumerable<fitness.Models.Abouts>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about_section_2 layout_padding">
    <div class="container">
        @if (Model != null)
        {
            foreach (var about in Model)
            {
                <h1 class="about_text_2">@about.Title</h1>
            }
        }
        else
        {
            <p>No data available</p>
        }
    </div>
</div>

<div class="about_section about_main">
    <div class="row">
        <div class="col-md-6">
            <div class="about_taital">
                @if (Model != null)
                {
                    foreach (var about in Model)
                    {
                        <h1 class="about_text" style="color: deepskyblue">@about.PopularTitle</h1>
                        <p style="color: powderblue; font-weight: 500; font-size: larger; margin-left: 2px;">@about.Description</p>
                    }
                }
            </div>
        </div>
        <div class="col-md-6">
            @if (Model != null)
            {
                foreach (var about in Model)
                {
                    <div class="about_img"><img src="@about.Image1URL" /></div>
                }
            }
        </div>
    </div>
</div>



