<div class="about_section_2 layout_padding">
    <div class="container">
        <h1 class="about_text_2"><strong>HAKKIMIZDA</strong></h1>
    </div>
</div>

<div class="about_section about_main">
    <div class="row">
        <div class="col-md-6">
            <div class="about_taital">
                <h1 class="about_text" style="color:deepskyblue">SPOR SALONUMUZ HAKKINDA</h1>
                <p style="color:powderblue;font-weight:500;font-size:larger; margin-left:2px;">FitClub, sağlıklı yaşam ve aktif bir yaşam tarzını benimseyen bireylere özel bir spor deneyimi sunan bir spor salonudur. Modern ve donanımlı tesisimizde, uzman antrenörler eşliğinde, kişisel hedeflerinize ulaşmanıza yardımcı olan çeşitli fitness programları ve egzersiz seçenekleri bulunmaktadır. Müşteri odaklı hizmet anlayışımız ve sıcak atmosferimizle, FitClub olarak her bir üyemizi destekleyerek, motivasyonunu artırmayı ve sağlıklı bir yaşam tarzını benimsemeyi hedefliyoruz.</p>
             
            </div>
        </div>
        <div class="col-md-6">
            <div class="about_img"><img src="~/Content/img/about-bg.png"></div>
        </div>
    </div>
</div>
