

<div style="width:600px; margin-left:2rem;">
    <div class="form-group" style="margin-top:2rem;">
        <br />
        <label style="margin-top:2rem;" for="name">İsim Soyisim </label> <br />
        <input type="text" id="name" name="name" style="width: 100%; padding: 8px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 4px;"> <br />
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" style="width: 100%; padding: 8px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 4px;">
    </div>

    <div class="form-group">
        <label for="telefon">Telefon</label>
        <input type="tel" id="telefon" name="telefon" style="width: 100%; padding: 8px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 4px;">
    </div>
</div>
<button onclick="window.location.href='/Home/Giris'" type="submit" style="background-color: #4caf50;margin-left:12rem;margin-bottom:2rem; width:15rem; color: white; padding: 10px 15px; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;" onmouseover="this.style.backgroundColor='#45a049'" onmouseout="this.style.backgroundColor='#4caf50'">Giriş Yap</button>

